<!DOCTYPE html>
<html>
<head>
  <title>Login Alert</title>
</head>
<body>
  <h1>Login Alert</h1>
  <p>You have logged in successfully to your sharepact account.</p>
  <p>If this wasn't you, please take appropriate action to secure your account.</p>
</body>
</html>